<ActionBar title="{{movie?.title}}" class="action-bar">
    <NavigationButton icon="res://ic_arrow_black_24dp" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="font://&#xf044;" class="fas h2" ios.position="right" (tap)="editClicked()"></ActionItem>
</ActionBar>

<StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="&#xf005;" class="fas h2" [ngClass]="{'orange': movie.avg_rating > 0}"></Label>
        <Label text="&#xf005;" class="fas h2" [ngClass]="{'orange': movie.avg_rating > 1}"></Label>
        <Label text="&#xf005;" class="fas h2" [ngClass]="{'orange': movie.avg_rating > 2}"></Label>
        <Label text="&#xf005;" class="fas h2" [ngClass]="{'orange': movie.avg_rating > 3}"></Label>
        <Label text="&#xf005;" class="fas h2" [ngClass]="{'orange': movie.avg_rating > 4}"></Label>
        <Label text="({{movie.no_of_ratings}})" class="h2"></Label>
    </StackLayout>
    <Label class="h2" [text]="movie?.description"></Label>

    <StackLayout>
        <Label text="Rate it !!!" class="h2"></Label>
        <StackLayout orientation="horizontal">
            <Label *ngFor="let rate of [1,2,3,4,5]" text="&#xf005;" class="h1"
                [ngClass]="{'fas purple': highlight >= rate, 'far': highlight < rate}"
                (tap)="setHightlight(rate)"></Label>
        </StackLayout>
        <Button text="Rate" (tap)="rateClicked()"></Button>
    </StackLayout>
</StackLayout>

