<ActionBar title="{{movieTitle}}" class="action-bar">
  <NavigationButton icon="res://ic_arrow_black_24dp" (tap)="goBack()"></NavigationButton>
  <ActionItem icon="font://&#xf044;" class="fas h2" ios.position="right" (tap)="editClicked()"></ActionItem>
</ActionBar>

<StackLayout *ngIf="movie">
  <Label class="h2" text="Title"></Label>
  <TextField [(ngModel)]="movie.title"></TextField>
  <Label class="h2" text="Description"></Label>
  <TextView [(ngModel)]="movie.description"></TextView>
  <Button text="{{movie.id ? 'Update' : 'Create'}}" (tap)="saveForm()" class="-primary -rounded-lg"></Button>
  <Button *ngIf="movie.id" text="Delete" (tap)="removeMovie()" class="my-button"></Button>
</StackLayout>

